@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-white text-gray-900;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* gray-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
  /* gray-400 */
}

/* FireFox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}